@model DentalClinicManager.Models.Patient

@{
    ViewData["Title"] = "تفاصيل المريض";
}

<h1>تفاصيل المريض</h1>

<div>
    <h4>معلومات المريض</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">الاسم</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">تاريخ الميلاد</dt>
        <dd class="col-sm-10">@Model.DateOfBirth.ToShortDateString()</dd>

        <dt class="col-sm-2">الجنس</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">الهاتف</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">البريد الإلكتروني</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">العنوان</dt>
        <dd class="col-sm-10">@Model.Address</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.PatientId" class="btn btn-primary">تعديل</a>
<a asp-action="Index" class="btn btn-secondary">رجوع</a>
